.card-order{
    margin:10px 10px 10px 15px;
    display: flex;
}

.img-order{
    border-radius: 10px;
    margin:0 10px 0 10px;
    width:80px;
    height:50px;
}

.card-summary{
    margin:10px 10px 60px 15px;
}
.p-check{
    margin-top: 30px;
    display:flex;

}

.Checkout{
    margin-left: 40%;
    padding:15px;
    background-color: #F4D03F;
    border-color: transparent;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
}
.person{
    border-color: transparent;
    border-radius: 4px;
    margin:1px;
}
.btn-person{
    display: flex;
}